@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat Light';
  src: local('Montserrat'), url('./styles/font/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 230;
}

@font-face {
  font-family: 'Montserrat Bold';
  src: local('Montserrat'), url('./styles/font/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Teko';
  src: local('Teko'), url('./styles/font/Teko-Regular.ttf') format('truetype');
}

.font-face-montserrat-light {
  font-family: 'Montserrat Light';
}

.font-face-teko {
  font-family: 'Teko';
}

ul {
  text-align: center;
}
ul li {
  display: inline-block;
  font-family: 'Montserrat Light';
}
ul li span {
  text-decoration: none;
  color: #333339;
}
ul li span:hover {
  -webkit-text-fill-color: #5fb0e8;
  -webkit-text-stroke-color: #5fb0e8;
}

ul li .active {
  -webkit-text-fill-color: #5fb0e8;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #5fb0e8;
}
